<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error 404</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <h2>Oops, Page Not found!</h2>
    <b>[Error 404]</b>
  </body>
</html>
